.slider{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.slider__image-container{
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider__image{
  display: block;
  position: absolute;
  transform: scale(0);
  width: 100%;
  height: 500px;
  object-fit: contain;
  border-radius: 5px;
  transition: transform 0.5s ease;
}

@keyframes slideFromLeft{
  from{
    left: -100%;
  }
  to{
    left: 0%;
  }
}

@keyframes slideFromRight{
  from{
    left: 100%;
  }
  to{
    left: 0%;
  }
}

@keyframes hideImage{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0);
  }
}

.slider__bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes hideText{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes showText{
  from{
    opacity: 0;
    left: 50px;
  }
  to{
    opacity: 1;
    left: 0px;
  }
}

.slider__text{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.slider-controls{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 5px;
}

.slider-controls__box{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.slider-controls__box:hover{
  cursor: pointer;
}

.slider-controls__radio{
  display: none;
}

.slider-controls__customized-radio{
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: var(--color-theme-secondary);
  border: 2px solid var(--color-theme-secondary);
  border-radius: 50%;
  transition: background-color 0.25s ease, border 0.25s ease;
}

#slide-bullet-0:checked ~ .wrapper #text-id-0,
#slide-bullet-1:checked ~ .wrapper #text-id-1,
#slide-bullet-2:checked ~ .wrapper #text-id-2,
#slide-bullet-3:checked ~ .wrapper #text-id-3,
#slide-bullet-4:checked ~ .wrapper #text-id-4,
#slide-bullet-5:checked ~ .wrapper #text-id-5{
  position: relative;
  animation: showText 0.5s ease forwards;
}

#slide-bullet-0:checked ~ .wrapper #image-id-0,
#slide-bullet-1:checked ~ .wrapper #image-id-1,
#slide-bullet-2:checked ~ .wrapper #image-id-2,
#slide-bullet-3:checked ~ .wrapper #image-id-3,
#slide-bullet-4:checked ~ .wrapper #image-id-4,
#slide-bullet-5:checked ~ .wrapper #image-id-5{
  position: relative;
  transform: scale(1);
}

#slide-bullet-0:checked ~ .wrapper #custom-radio-0,
#slide-bullet-1:checked ~ .wrapper #custom-radio-1,
#slide-bullet-2:checked ~ .wrapper #custom-radio-2,
#slide-bullet-3:checked ~ .wrapper #custom-radio-3,
#slide-bullet-4:checked ~ .wrapper #custom-radio-4,
#slide-bullet-5:checked ~ .wrapper #custom-radio-5{
  background-color: var(--color-theme-primary);
  border-color: var(--color-theme-secondary);
}

#slide-bullet-0:checked ~ .wrapper .slider-controls__box:hover #custom-radio-0,
#slide-bullet-1:checked ~ .wrapper .slider-controls__box:hover #custom-radio-1,
#slide-bullet-2:checked ~ .wrapper .slider-controls__box:hover #custom-radio-2,
#slide-bullet-3:checked ~ .wrapper .slider-controls__box:hover #custom-radio-3,
#slide-bullet-4:checked ~ .wrapper .slider-controls__box:hover #custom-radio-4,
#slide-bullet-5:checked ~ .wrapper .slider-controls__box:hover #custom-radio-5{
  background-color: var(--color-theme-primary);
  border-color: #ffffff;
}

.slider-controls__box:hover > .slider-controls__customized-radio{
  background-color: #ffffff;
  border-color: #ffffff;
}

@media (max-width: 769px){
  .slider{
    gap: 10px;
  }

  .slider__image{
    height: 300px;
  }

  .slider__bottom{
    flex-direction: column-reverse;
    gap: 5px;
  }

  .slider-controls{
    align-self: center;
  }

  .slider-controls__box{
    width: 30px;
    height: 30px;
  }

  .slider-controls__customized-radio{
    width: 15px;
    height: 15px;
  }
}